<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/ems_vue/js/vue.js"></script>
    <script src="/ems_vue/js/axios.min.js"></script>
</head>
<body>
<div id="app">
    用户名：<input type="text" v-model="user.username"><br/>
    真实姓名：<input type="text" v-model="user.realname"><br/>
    密码：<input type="password" v-model="user.password"><br/>
    性别：<input type="radio" name="sex" value="男" v-model="user.sex">男
         <input type="radio" name="sex" value="女" v-model="user.sex">女<br/>
    验证码：<input type="text" v-model="code"><img :src="url"><a @click="changeIme">换一张</a><br/>
    <button @click="register">注册</button>
</div>

</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            url: '',
            user: {
                sex: '男'
            },
            code: ''
        },
        created(){
           this.changeIme();
        },
        methods:{
            changeIme(){
                var _this = this;
                axios.get("http://localhost:8989/ems_vue/user/getImage").then( res => {
                    _this.url = res.data;
                })
            },
            register(){
                if(this.code === ''){
                    alert("请输入图形验证码");
                }else{
                    axios.post("http://localhost:8989/ems_vue/user/register?code=" + this.code,this.user).then(res => {
                        if(res.data.status){
                            alert(res.data.msg+'请登陆');
                            location.href='/ems_vue/login.html';
                        }else{
                            alert(res.data.msg);
                        }
                    })
                }
            }
        }
    });
</script>
</html>